<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit task </title>
</head>
<body>
    IT in progress
    but it is task edit <i class="ri-page-separator"></i>
    <form action="{% url 'edit' task.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="task" value="{{task.task}}">
        <input type="submit" value="edit">
    </form>
    <a href="{% url 'home' %}">back to home</a> 
</body>
</html>